$primary: #C13E22;
$light: rgba(170,168,168,0.28);
$info: #F2B705;
$body-color: white;




body {
  background-image: url(assets/fondoApp.jpg);
  background-position: center; /* Center the image */
  background-repeat: repeat;
  background-size: cover;
    }

$btn-border-width: 0;
$btn-border-radius: 15px;
$btn-font-size: 1.5rem;
$btn-font-weight: bold;



@import "../node_modules/bootstrap/scss/bootstrap"

