<div class="modal-header bg-dark d-flex justify-content-center">
  <h2 class="modal-title" id="modalEditLabel">EDITAR USUARIO</h2>
  <button type="button" class="btn-close bg-primary" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-dark container">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()"> 
    <div class="mb-3">
      <input class="form-control me-2 rounded-0" type="text" formControlName="email" placeholder="Usuario" aria-label="Usuario">
    </div>
    <div class="mb-3">
      <input class="form-control me-2 rounded-0" type="password" formControlName="password" placeholder="Contraseña" aria-label="Contraseña">
    </div>
    <div class="mb-3">
       <select class="form-select bg-dark rounded-0" formControlName="rolname" aria-label="Cargo">
        <option >Seleccionar cargo</option>
        <option value="mesero">Mesero</option>
        <option value="cocinero">Cocinero</option>
        <option value="administrador">Administrador</option>
      </select> 
    </div>
      <div class="form-check mb-3">
        <input class="form-check-input mb-3" formControlName="admin" type="checkbox" value="true" id="flexCheckAdmin">
        <label class="form-check-label mb-3" for="flexCheckAdmin">
          Administrador
        </label>
      </div>
 
    <div class="modal-footer">
      <button (click)="activeModal.close('Cancel')" class="btn btn-secondary">Cancelar</button>
      <button  class="btn btn-primary">Añadir</button>
    </div>
  </form>
</div>
