<nav class="navbar navbar-light bg-light">
  <div class="container-lg">
    <form class="container-fluid row">
      <div class="col-2">
        <a class="navbar-brand" href="#">
          <img src="./assets/FireBurger.png" alt="" width="100" />
        </a>
      </div>
      <div class="col-9 d-flex flex-row justify-content-end align-items-end">
        <button class="btn btn-outline-success me-2" type="button">
          Main button
        </button>
        <button class="btn btn-outline-success me-2" type="button">
          Main button
        </button>
      </div>
      <div class="col-1 d-flex flex-row justify-content-end align-items-start">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </form>
  </div>
  <div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
  </div>
</nav>
