<body>
  <div class="container">
    <nav class="navbar navbar-light bg-transparent d-flex justify-content-center">
        <form class="d-flex searcher">
          <input class="searchBar form-control me-2" type="search" placeholder="Buscar usuario" aria-label="Search">
          <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i>
          </button>
        </form>
    </nav>
  </div>
<div class="d-flex justify-content-center m-3">
    <button class="btn btn-info" type="button" s data-bs-toggle="modal" data-bs-target="#exampleModal">NUEVO USUARIO</button>
</div>

<div class="container d-flex justify-content-center">
<table class="table mt-3">
  <thead class="customTable fs-4 text-center"> 
      <th>Usuario</th>
      <!-- <th>Contraseña</th> -->
      <th>Cargo</th>
      <th>Administrador</th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" class="text-center">
      <td>{{user.email}}</td>
      <!-- <td>{{user.password}}</td> -->
      <td>{{user.roles.name}}</td>
      <td>{{user.roles.admin}}</td>
      <td>
        <button class="icons"><i class="far fa-edit fs-4"></i> </button>
        <button (click) = "deleteUser(user._id)" class="icons"><i class="fas fa-times-circle fs-4"></i></button> 
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AGREGAR USUARIO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue"> 
          <div class="mb-3">
            <input class="form-control me-2" type="text" formControlName="email" placeholder="Usuario" aria-label="Usuario">
          </div>
          <div class="mb-3">
            <input class="form-control me-2" type="password" formControlName="password" placeholder="Contraseña" aria-label="Contraseña">
          </div>
          <div class="mb-3">
             <select class="form-select" formControlName="rolname" aria-label="Cargo">
              <option class="text-dark" [ngValue]="null" [selected]="true">Open this select menu</option>
              <option value="mesero">Mesero</option>
              <option value="cocinero">Cocinero</option>
              <option value="administrador">Administrador</option>
            </select> 
          </div>
          
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" formControlName="admin" type="checkbox" value="true" id="flexCheckAdmin">
              <label class="form-check-label" for="flexCheckAdmin">
                Administrador
              </label>
            </div>
          </div>
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" (click) = "cancelUserDetails()" id= "cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click) = "postUserDetails()" class="btn btn-primary">Añadir</button>
      </div>
    </div>
  </div>
</div>