<app-navbar></app-navbar>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-transparent d-flex justify-content-center">
        <form class="d-flex searcher">
          <input class="searchBar form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
          <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i>
          </button>
        </form>
    </nav>
  </div>
<div class="d-flex justify-content-center m-3">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">NUEVO PRODUCTO</button>
</div>

<div class="container d-flex justify-content-center">
<table class="table mt-3">
  <thead class="customTable fs-4 text-center"> 
      <th>Producto</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsList" class="text-center">
      <td>{{product.name}}</td>
      <td>{{product.price | currency:'PEN': 'symbol'}}</td>
      <td>{{product.type}}</td>
      <td>
        <button (click)="openEditModal(product)" class="icons" data-bs-toggle="modal"><i class="far fa-edit fs-4"></i> </button>
        <button (click) = "deleteProduct(product._id)" class="icons"><i class="fas fa-times-circle fs-4"></i></button> 
      </td>
    </tr>|
  </tbody>
</table>
</div>
</body>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AGREGAR PRODUCTO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue"> 
          <div class="mb-3">
            <input class="form-control me-2" type="text" formControlName="name" placeholder="Producto" aria-label="Producto">
          </div>
          <div class="mb-3">
            <input class="form-control me-2" type="number" formControlName="price" placeholder="Precio" aria-label="Precio">
          </div>
          <div class="mb-3">
             <select class="form-select" formControlName="type" aria-label="Categoría">
              <option selected>Selecciona categoría</option>
              <option value="Desayunos">Desayunos</option>
              <option value="Almuerzos">Almuerzos</option>
              <option value="Bebidas">Bebidas</option>
            </select> 
          </div>
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" id= "cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click) = "postProduct()" class="btn btn-primary">Añadir</button>
      </div>
    </div>
  </div>
</div>
